#contact {
    margin-top: 45px;
    padding-bottom: 60px;
    #social-media {
        padding-bottom: 30px;
        a {
            margin-right: 5px;
        }
    }

    .col-md-8 {
        padding-left: 0;
    }
    .col-md-4 {
        padding-right: 0;
    }

    @include media-breakpoint-down(sm) {
        .col-md-8, 
        .col-md-4 {
            padding-right: 0;
            padding-left: 0;
        }
        .col-md-4 {
            border-top: 1px solid $lightgrey;
            margin-top: 30px;
            padding-top: 30px;
        }
    }
}