@import "_variables.scss";

footer {
    background-color: $header_color;
    color: #fff;
    font-size: 1rem;
    padding-top: 15px;
    padding-bottom: 15px;
    p {
        margin-bottom: 0;
    }
    a {
        width: 100%;
        display: inline-block;
        color: #fff;
        text-align: right;
    }
}