@import "_variables.scss";
@import "_animations.scss";

#technical-skills {
    margin-top: 45px;
    padding-bottom: 60px;

    .chart {
        width: 66%;
        margin: 0 auto 30px;
        .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 80%;
            max-height: 250px;
            .circle-bg {
                fill: none;
                stroke: $lightgrey;
                stroke-width: 1.5;
            }
            .circle {
                fill:none;
                stroke-width: 1.5;
                animation: draw-chart 1s ease-out forwards;
                stroke: $gold;
            }
            .percentage {
                fill: $text_color;
                font-family: sans-serif;
                font-size: 0.33rem;
                text-anchor: middle;
            }
        }
    }
    .chart-description {
        text-align: center;
        strong {
            text-transform: uppercase;
            font-family: 'Oswald', Arial, Helvetica, sans-serif;
            color: $header_color;
        }
        p:first-of-type {
            margin-bottom: 0;
        }
    }
}